/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.navigation-bar{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    line-height: 1.6;
    height: 450px;
}

.navbar{
    font: white;
    padding: 10px 250px;
    width: 10%;
    display: flex;
    justify-content: space-between;
    word-spacing: 10px;
    gap: 20px;
    height: 150px;
}

h1,h5{
    text-align: center;
}

 h3 {
    margin-left: 200px;
 }

 p{
    text-align: center;
 }

#rebel-poet{
    text-align: left;
    width: 250px;
    margin-left: 200px;
}

#awesome-writer{
    text-align: left;
    width: 300px;
    margin-left: 200px;
}

.profile-img{
    max-width: fit-content;  
    margin-left: 200px;
}

.bio-content{
    display: flex;
    justify-content: left;
    align-items: center; 
    gap: 30px; 
    max-width: 600px;
    margin: 0 auto;
    position: relative;
}

.bio-text {
  flex: 1;
}

.boxes{
    margin-bottom: auto;
}

header{
    grid-area: header;
}

.contact-icons{
    display: flex;
    flex-direction: row;
    gap: 0.2em;
    justify-content: center;
}

#youtube-icon{
    background-color: rgb(226, 29, 29);
    color:white;
    margin: 0;
}

#amazon-icon{
    background-color: #ffff00b9;
    color: white;
    margin: 0;
}

#slogan{
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding: 25px 25px;
}

#star-icon{
    text-align: center;
}

#poetry{
    text-align: left;
}

#list-of-poetry{
    text-align: left;
    block-size: auto;
    column-count: 1;
    position: absolute;
    border-radius: 0%;
}

.summary-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 15px; 
}


#left{
    text-align: right;
}

#middle{
    text-align: right;
}

#right{
    text-align: right;
}


.grid-container {
  display: grid; 
  
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  
  grid-template-rows: 100px 100px; 
  
  gap: 20px; 
}

.item {
  background-color: white;
  color: black;
  padding: 20px;
  border: 1px solid black;
  border-radius: 0%;
  text-align: center;
}

.grid-footer-part{
  display: grid; 
  
  grid-template-columns: 1fr 1fr 1fr ; 
  
  grid-template-rows: 50px 50px; 
  
  gap: 20px; 

  background-color: black;

  padding: 15px 15px;

  position: relative;
}

.item2 {
  color: white;
  padding: 20px;
  border: 1px solid black;
  border-radius: 0%;
  text-align: justify;
  font-size: 15px;
  border-right: 2px solid #555;
  flex: 1;
  padding: 0 20px;
}

#footer-heading{
    text-align: end;
}

